# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Build
dist/
.cache/

# Dev logs
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Telemetry
.astro/
